/.git
/.githooks
/.github
/.gitignore
/.code
/.DS_Store
/TAGS

/.bundle
node_modules
/site

/.env*
/config/master.key
/config/credentials/*.key

/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
!/tmp/storage
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/coverage
/workspaceConfiguration

/public/assets
/app/assets/builds

/vendor/bundle
/vendor/cache
