<div class="absolute top-0 right-0 overflow-hidden rounded-tr-xl">
  <div class="px-3 py-1.5 text-sm font-semibold <%= active ? "bg-success text-success border-b border-l border-success/50" : "bg-danger text-danger border-b border-l border-danger/50" %>">
    <%= active ? "Active" : "Disabled" %>
  </div>
</div>