{{ define "main" }}
<article class="flex flex-col items-center gap-y-2 sm:gap-y-4 py-2 mx-auto sm:mt-2 px-1
  [&>.prose]:max-w-screen-lg
  [&_img]:max-h-[60dvh]
  [&_h1,h2]:font-serif [&_strong]:font-black [&_em]:font-bold
  [&_a]:text-accent-300 [&_a]:hover:no-underline
  [&_.prose]:mb-8 [&_.prose]:max-sm:px-2 [&_.prose]:text-lg
  [&_ul]:list-none [&_ul]:pl-2 [&_ul]:sm:pl-4
  [&_li]:relative [&_li]:pl-8 [&_li]:before:content-['\2731'] [&_li]:before:absolute [&_li]:before:left-0 [&_li]:before:top-0 [&_li]:before:-translate-y-1 [&_li]:before:text-3xl
  ">
  <img src="{{ "static/possy.webp" | relURL }}" alt="Possy, the Party Possum." />
  <div class="prose">
    <h1 class="text-center">
      Meet Possy.
    </h1>
    <p>
      Possy loves making friends and hates missing out. The consummate party possum, he's spent years bouncing from one party to the next. Everybody loves Possy.
    </p>
    {{ partial "subscribe_button.html" (dict "lede" "Already plan to hang with Possy?") }}
    <p>
      But Possy is <em>tired</em>. His attention span is shot. He's getting nothing done at work. His joeys call some sloth down the street "dad" now. He's the life of the party, but life is passing him by. <strong>He wants to quit partying,</strong> but worries his friends will forget him.
    </p>
    <h2>The social media party is dying</h2>
    <p>
      I used to be like Possy. Glued to my phone as I bounced between social networks. Constantly pulling to refresh. Racing to tap each notification. When I tried to get anything done, stray thoughts like <em>Who liked my post?</em> and <em>What replies am I getting?</em> clouded my focus.
    </p>
    <p>
      <strong>Then Twitter went to shit.</strong> My friends are now spread across X, Mastodon, Threads, and Bluesky. Others retreated to Instagram or Facebook or (for some reason) LinkedIn.  And because no single platform can answer <em>what's happening right now</em>, some people have given up on all of them.
    </p>
    <img src="{{ "static/possy-tree.webp" | relURL }}" alt="Possy finds peace" class="mx-auto xs:float-right !my-0 align-top xs:max-w-48 sm:max-w-80 xs:mx-2" />
    <p>
      So I partied like it was 2005 and <a href="https://justin.searls.co">built myself a website</a>. Then I hacked together a bunch of scripts that crosspost my content to each social platform—a strategy somebody decided to call <a href="https://indieweb.org/POSSE">POSSE</a> ("Publish Own Site, Syndicate Elsewhere"). This lets me reach people where they are <em>without</em> wasting away, staring at my screen.
    </p>
    <p>
      Taking back control of my work restored my sanity and turbocharged my creative drive. What's more, asking people to bypass the apps and <a href="mailto:justin@searls.co">just e-mail me</a> has fostered more meaningful interactions than chasing "engagement" ever did.
    </p>
    <p>
      And to my surprise, <strong>I don't feel like I'm missing out.</strong> Not one bit.
    </p>
    <h2>I'm throwing a POSSE Party</h2>
    <p>
      Let's talk about you. Are you sick of juggling multiple timelines? Does doom-scrolling leave you feeling dead inside? Ever catch yourself deleting <em>that</em> app to "take a break," only to be back on your bullshit a week later?
    </p>
    <p>
      How's that working out for you?
    </p>
    <p>
      Imagine having what I have: a simple service that automatically posts all your tweet-length takes, photos, blog posts, and sourdough recipes to your social media accounts. Well, good news: I'm building exactly that. I'm calling it <strong>POSSE Party</strong>, and it will let <em>any dummy with a website</em> enjoy a life of algorithm-free luxury.
    </p>
  </div>
  <img src="{{ "static/possy-chart.webp" | relURL }}" alt="Possy teaches us POSSE" />
  <div class="prose">
    <h2>This party's strictly BYOF(eed)</h2>
    <p>
      How does it work? It's simple! <strong>All you need is an RSS or Atom feed</strong>. (Don't know what that means? Just sign up for a Wordpress, Squarespace, Medium, or whatnot and, <em>boom</em>, you have a feed. Congrats.) From there, just log into POSSE Party, paste your feed URL, and give it access to your social accounts. Set it and forget it.
    </p>
    <div class="grid !max-w-screen-sm mx-auto gap-2 grid-cols-2">
      <div>
        <p class="font-semibold sm:text-xl">
          What's working<span class="hidden sm:inline"> so far</span>:
        </p>
        <ul>
          <li>Bluesky</li>
          <li>Mastodon</li>
          <li>Threads</li>
          <li>X</li>
          <li>Instagram</li>
          <li>Facebook</li>
          <li>LinkedIn</li>
          <li>YouTube</li>
        </ul>
      </div>
      <div>
        <p class="font-semibold sm:text-xl">
          What's up next:
        </p>
        <ul>
          <li>…that's enough, maybe?</li>
        </ul>
      </div>
    </div>
    <p>
      You'll also be able to customize how your content shows up on each platform—right down to individual posts. For some idea of what options are supported, search for the <code>posse:post</code> elements in <a href="https://justin.searls.co/atom.xml" download="justins-atom-feed.xml">my personal feed</a>.
    </p>
  </div>
  <img src="{{ "static/possy-vision.webp" | relURL }}" alt="Possy and his party posse" />
  <div class="prose" id="rsvp">
    <h2>Gather your posse and R.S.V.P.</h2>
    <p>
      POSSE Party is already in production and syndicating my posts. I plan on letting others join the fun at some point in 2025, but what form the service ultimately takes depends on whether or not you add your email to the attendee list:
    </p>
    {{ partial "subscribe_button.html" (dict "lede" "Interested in attending?") }}
    <p>
      If you agree humanity would be better off if we were a little less online and the web were a little more open, I'd love for you to help me get the word out. Frankly, I don't care if I'm the only one who shows up to the party—I'm using this thing either way. But the more people RSVP, the more likely I am to build cool stuff like this:
    </p>
    <ul>
      <li>A public-facing directory of feeds syndicated by POSSE Party, so people can find you and your work <em>someplace other than</em> social media</li>
      <li>AI analysis of your feed's content to introduce you to like-minded creators, fostering collaboration and creating opportunities to expand your audience</li>
      <li>
        An online editor for publishing quick takes and promotional posts to your social accounts, without having to first post them to your website's feed
      </li>
      <li>
        Web hosting and content management features so anyone can join the party, whether or not they have their own website
      </li>
      <li>
        Machine-translated crossposts to alt accounts targeting friends & fans who speak a different language
      </li>
    </ul>
    <p>
      Anyway, thanks for reading all this. My life has improved dramatically since I logged out of the apps, and I genuinely believe the world would be a better place if more people had the tools needed to do the same. 💜
    </p>
    <p class="text-right before:content-['-'] before:mr-1 mr-2 sm:mr-4"><a href="https://justin.searls.co/about">Justin Searls</a></p>
  </div>
</article>
<div class="my-6 text-xs text-center opacity-70">
  POSSE Party™ is a <a href="https://searls.co" class="underline">Searls LLC</a> production. All rights reserved.
</div>
{{ end }}
