---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v23.0/somepageid/feed
    body:
      encoding: UTF-8
      string: message=Similar%20to%20Kojima%2C%20I%20had%20to%20adjust%20the%20runtime%20and%20prevalence%20of%20swears%20in%20the%20Breaking%20Change%20podcast%20because%20they%20weren%27t%20pissing%20enough%20people%20off&link=https%3A%2F%2Fwww.videogameschronicle.com%2Fnews%2Fcomposer-says-kojima-changed-death-stranding-2-because-it-wasnt-polarizing-enough%2F&published=true&access_token=someaccesstoken
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"somepageid":[{"type":"pages","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v23.0
    body:
      encoding: UTF-8
      string: '{"id":"somepageid_122196970568094094"}'
  recorded_at: Wed, 18 Jun 2025 06:34:06 GMT
recorded_with: VCR 6.3.1
