---
http_interactions:
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media?access_token={{access_token}}&media_type=STORIES&video_url=https://content-cdn.betterwithbecky.com/ktcegp2g59laikpgov043b2zowkc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17874554361429190"}'
  recorded_at: Tue, 14 Oct 2025 23:35:07 GMT
- request:
    method: get
    uri: https://graph.instagram.com/v24.0/17874554361429190?access_token={{access_token}}&fields=status_code,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b69c8dc9be9fa53910dbfa6433ee15179cb01e86"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"status_code":"IN_PROGRESS","status":"IN_PROGRESS","id":"17874554361429190"}'
  recorded_at: Tue, 14 Oct 2025 23:35:07 GMT
[...]
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media_publish?access_token={{access_token}}&creation_id=17874554361429190
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Debug-Link:
      - https://www.meta.com/debug/?mid=8d0e310f498b7f0f2459d4f6f30c350e
      Error-Mid:
      - 8d0e310f498b7f0f2459d4f6f30c350e
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "The video file you selected is
        in a format that we don't support."
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
      Proxy-Status:
      - http_request_error; e_fb_vipaddr="AcMfpXAQzl16aiOgnPlY_DlF9yNE2fkaOhZhoEKXrWQo6TuKMcgKFt7gAQIL5H_ZzBWF20gzfl3duWDNdSEkIclWl2-TZ27vRWsse48";
        e_clientaddr="AcPHK72OJ9EOWNwpVSu1eH9oRzI699USpZ6gz-GiNn2v7pGWGKpITm1zev1-1-fbXYca7uN2LItTAUCbqrAySxuOHSxfJE6OEYmCig4sRK4s_UQn";
        e_upip="AcNAByruvAaPyPEkyMq3sPfra16BDLm11OMI1cVyLHCiwncRirBIF_15OJ5N2sT7kxSM8gmFaN2tjQh6dKh7kJ_Nh9-8UzmiNwu5e-fPuqo";
        e_fb_zone="AcOcvUybkkL7p09k-F5aQuV4ujWumLum-ixWqH0Cf7g54AWAIfP4zrxBQ-DSzXAX";
        e_fb_twtaskhandle="AcMTR_t3-bD4hMO4TS1CEVk_kq-0PNE4CUti9U6lFPji5pYUVFmRBAMwOmJK-k3jcaXi4YH5rAlKz_TJbW8Jw7m_eup5VbLpCj88stf0pg";
        e_proxy="AcMbu7qL2CH2b5h9zeq5uLW2idcSGGei6_KyhB78Vl_fnA0Yd94JvunTQmrj0bIGwFL-PVNZNKoUiTcK1LuUKg",
        http_request_error; e_fb_vipaddr="AcMWN9fWmJhNnC8QXWQzwk0Us7tMfYnDtUK8oPhyYJ7Kb9b2MM3W2grZC_Y3cNzQ1lm4vjwkdQ";
        e_clientaddr="AcOfdHc98gKjwtSEWvKbNE2KF0Nt_vUGJdwNCyPtICRD9nZR9Jfa8Z8zQFbgCrGiG-2aZB6cGyr4sfSmn30";
        e_upip="AcMjbYjNDryT64z1vr64B6gJTl3Gel97nwQ4lMoYjRS-527YjvTbRwu7CMcP8ukMXp1tyuBbMRBkigq_TH7Qjuzipq6c4eGWok_cS3E";
        e_fb_zone="AcONFELQL-BoOoyH5f5qwKu8j20DBSe5hZp_FiXouF5wZT_oj5esT9PKlFDytw";
        e_fb_twtaskhandle="AcPo_lR4VUYr2cs2RQmCc4-W4kF1fcmLWBoLdviCUasUecHFJ86t3f23wLqDyw1xtiSJjgTSKyIlUGEBODkK3CTxRMVxBiojoP0";
        e_proxy="AcMOnqUsJMc4zZmbO0WRrwO6_FJBugpm5ExdiXYc-HN-eW6Whc46AB7Y5fCZUs62FhLwQziPAhOO7SAX"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"The video file you selected is in a format that
        we don''t support.","type":"OAuthException","code":352,"error_subcode":2207026,"is_transient":false,"error_user_title":"Unsupported
        format","error_user_msg":"The video format is not supported: Unsupported format:
        The video format is not supported: STORY","fbtrace_id":"A-2Z0meUgbiLdggnvDJiG_j"}}'
  recorded_at: Tue, 14 Oct 2025 23:35:32 GMT
recorded_with: VCR 6.3.1
