---
http_interactions:
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media?access_token={{access_token}}&is_carousel_item=true&media_type=VIDEO&video_url=https://podcast-cdn.searls.co/clips/v30-the-startup-shell-game.1080p.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17874646500429190"}'
  recorded_at: Wed, 15 Oct 2025 21:49:39 GMT
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media?access_token={{access_token}}&is_carousel_item=true&media_type=VIDEO&video_url=https://podcast-cdn.searls.co/clips/v30-the-wrong-programmers.1080p.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17874646503429190"}'
  recorded_at: Wed, 15 Oct 2025 21:49:39 GMT
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media?access_token={{access_token}}&is_carousel_item=true&media_type=VIDEO&video_url=https://podcast-cdn.searls.co/clips/v31-what-is-refactoring.1080p.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17874646506429190"}'
  recorded_at: Wed, 15 Oct 2025 21:49:40 GMT
- request:
    method: get
    uri: https://graph.instagram.com/v24.0/17874646500429190?access_token={{access_token}}&fields=status_code,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6f3ccb5f3812bce038df58c74ed326baf750fc18"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"status_code":"IN_PROGRESS","status":"IN_PROGRESS","id":"17874646500429190"}'
  recorded_at: Wed, 15 Oct 2025 21:49:40 GMT
[...]
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media?access_token={{access_token}}&caption=pretend%20i%27m%20a%20big%20carousel%0A%0ASee%20the%20full%20post%20at:%0Ahttps://justin.searls.co/shots/fake-lol/&children=17874646500429190,17874646503429190,17874646506429190&media_type=CAROUSEL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17874646635429190"}'
  recorded_at: Wed, 15 Oct 2025 21:51:26 GMT
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media_publish?access_token={{access_token}}&creation_id=17874646635429190
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Debug-Link:
      - https://www.meta.com/debug/?mid=dc39e6f9fae40ecb1cb33e6a1700e6f4
      Error-Mid:
      - dc39e6f9fae40ecb1cb33e6a1700e6f4
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Media ID is not available"
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
      Proxy-Status:
      - http_request_error; e_fb_vipaddr="AcObXVpWshaS4IhwzaiyNHSc1cYUEh76qeXFIQrD48BrgS1S4sDFnKNfzkp4Qu00kiLU7BoiMcIm04JYK2sQICf4QbB2k_zCJBKX34w";
        e_clientaddr="AcNPeNjN-cY3UAbJ34R-anKS2K1XoJFNJwRrmyBSzpFjAGnX3MCgb90d9BiTxbGMiV1pFxQBn188LaCtzuxszcM7th8ktwl6k1t-ITtEQu5Pg8Kgyw";
        e_upip="AcNOp0A_QSInl-jlVw4kL6ztpMclHsf4t21FyB9ReeGpCPbagU6UiRYedHSjsd6TShPg3aPBTQCdgREyeMObNIyRd0SS4dNaAWEEF9-oKWY";
        e_fb_zone="AcNXLefpWxwivjDZw8-pSc4q_G9KmTAdkstVTdaKBtbW8IXmntorGSnNvtQVNJHa";
        e_fb_twtaskhandle="AcN86xfqliirXrY5j6_qMkfXTOFGjoExUYFCGZ0xpRyON4ESuWCQwg-EpcZXWQTTzgDAqcz_fxnvRcoSyYn3F1zj3ZGscYxvxceOS3toaw";
        e_proxy="AcMwarLU5l3tq7HXQNDdSGlnXe3jT7YNw_9FVRlVa-02TZB_Wi7o6uBS7gu-vJ7xu0HArdV6xZ5mYdJi9K30",
        http_request_error; e_fb_vipaddr="AcOrXDFr4ZbczymvbGCUfbh98amJhU51_YmQdIkV17bGnnieoBdFHsqV43bLTdGQFSgw5lNF3Q";
        e_clientaddr="AcPtioe-CvuBZ5p0J-6KiN7p0VtmtBLDj0TANd0c1O9p4bD8wqx5ZXWwXiXfIIu1BtkE3Y2O9YlBPlHE11s";
        e_upip="AcNUesEMqNDXY_aAeHyx9vkZbhAxXS1Am9E5k0wBGPZ3JkwFjRy4qq4Y1jA1WiNUEhxyxFYvo0uuJuYK7fxWEL6McT7dgvzYTDfXfrU";
        e_fb_zone="AcNzWuzrEzfLAUhd7ly0xlPyLSwiPmTezBK7SEW8wnmhXr_QPl4wYVJUAR5Jfw";
        e_fb_twtaskhandle="AcN7LaY20zFZVqWMzpKx38d0ovFNiEyu3x4yzj2f-UguFIZ4feE3G3MJcthZopCWi66p7hBkE9aSDPNb9q6D4LOw0RcOzcO-n8-5";
        e_proxy="AcPOFQPDxX9q--hh-JAkHcfW5qLzjxmbS6tUK5_SHBZT5Z5M3Gd15GeBgbHZBhxX1cbIO3BSaCaX_biu"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Media ID is not available","type":"OAuthException","code":9007,"error_subcode":2207027,"is_transient":false,"error_user_title":"Cannot
        Publish","error_user_msg":"The media is not ready for publishing, please wait
        for a moment","fbtrace_id":"AMzZ7Amw0Wb4ood-Lo4L7uj"}}'
  recorded_at: Wed, 15 Oct 2025 21:51:26 GMT
[...]
- request:
    method: get
    uri: https://graph.instagram.com/v24.0/17896425363324552?access_token={{access_token}}&fields=permalink
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5819178575e6373a91acd50ad4546414ec5a8df0"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"permalink":"https:\/\/www.instagram.com\/p\/DP2Hp0RDxWo\/","id":"17896425363324552"}'
  recorded_at: Wed, 15 Oct 2025 21:51:39 GMT
recorded_with: VCR 6.3.1
