---
http_interactions:
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media?access_token={{access_token}}&media_type=STORIES&video_url=https://podcast-cdn.searls.co/clips/v31-what-is-refactoring.1080p.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17874544155429190"}'
  recorded_at: Tue, 14 Oct 2025 20:02:34 GMT
- request:
    method: get
    uri: https://graph.instagram.com/v24.0/17874544155429190?access_token={{access_token}}&fields=status_code,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1e9c4e094d066f227d9ce169d066181f8bfab5d2"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"status_code":"IN_PROGRESS","status":"IN_PROGRESS","id":"17874544155429190"}'
  recorded_at: Tue, 14 Oct 2025 20:02:34 GMT
[...]
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media_publish?access_token={{access_token}}&creation_id=17874544155429190
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"18059239898533002"}'
  recorded_at: Tue, 14 Oct 2025 20:03:39 GMT
recorded_with: VCR 6.3.1
