---
http_interactions:
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media?access_token={{access_token}}&caption=New%20clip!%20What%20is%20Refactoring?%0A%0ASee%20the%20full%20post%20at:%0Ahttps://justin.searls.co/clips/v31-what-is-refactoring/&media_type=REELS&video_url=https://podcast-cdn.searls.co/clips/v31-what-is-refactoring.1080p.mp4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17874543768429190"}'
  recorded_at: Tue, 14 Oct 2025 19:56:30 GMT
- request:
    method: get
    uri: https://graph.instagram.com/v24.0/17874543768429190?access_token={{access_token}}&fields=status_code,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"13ce1c0e2d5743ccabe48bd6f46f839ca8358a90"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"status_code":"IN_PROGRESS","status":"IN_PROGRESS","id":"17874543768429190"}'
  recorded_at: Tue, 14 Oct 2025 19:56:30 GMT
[...]
- request:
    method: post
    uri: https://graph.instagram.com/v24.0/{{user_id}}/media_publish?access_token={{access_token}}&creation_id=17874543768429190
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"18068450030017032"}'
  recorded_at: Tue, 14 Oct 2025 19:57:37 GMT
- request:
    method: get
    uri: https://graph.instagram.com/v24.0/18068450030017032?access_token={{access_token}}&fields=permalink
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"075a1410e7f168f364cf1157134be0e2eab8e746"'
      Content-Type:
      - application/json; charset=UTF-8
      X-App-Usage:
      - '{"call_volume":0,"cpu_time":0}'
      Instagram-Api-Version:
      - v24.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"permalink":"https:\/\/www.instagram.com\/reel\/DPzVvaBDZvQ\/","id":"18068450030017032"}'
  recorded_at: Tue, 14 Oct 2025 19:57:37 GMT
recorded_with: VCR 6.3.1
