---
http_interactions:
- request:
    method: post
    uri: https://mastodon.social/api/v1/statuses
    body:
      encoding: UTF-8
      string: "{\"status\":\"Orlando, I love you \U0001F3B6 https://justin.searls.co/shots/2024-10-28-09h56m20s/\"}"
    headers:
      Authorization:
      - Bearer SOME_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"113935670111298635\",\"created_at\":\"2025-02-02T18:19:16.925Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/searls/statuses/113935670111298635\",\"url\":\"https://mastodon.social/@searls/113935670111298635\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"pinned\":false,\"content\":\"<p>Orlando,
        I love you \U0001F3B6 <a href=\\\"https://justin.searls.co/shots/2024-10-28-09h56m20s/\\\">justin.searls.co/shots/2024-10-28</a></p>\",\"filtered\":[],\"reblog\":null,\"application\":{\"name\":\"feed2toot\",\"website\":null},\"account\":{\"id\":\"31115\",\"username\":\"searls\",\"acct\":\"searls\",\"display_name\":\"Justin
        Searls\",\"locked\":false,\"bot\":true},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"card\":null,\"poll\":null}"
  recorded_at: Sun, 02 Feb 2025 18:19:16 GMT
recorded_with: VCR 6.3.1
