---
http_interactions:
- request:
    method: post
    uri: https://mastodon.social/api/v1/statuses
    body:
      encoding: ASCII-8BIT
      string: status=%22How+hard+could+it+possibly+be+to+truncate+a+string+while+making+sure+it+doesn%27t+cut+off+any+URLs+or+hashtags%3F%22+he+asked%2C+ignorantly.+gist.github.com%2Fsearls%2F9d8ee42929da99ae268477eb20818da6
    headers:
      Authorization:
      - Bearer SOME_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '2025-02-12T18:00:00.804084Z'
      Etag:
      - W/"be19fbb2532836de5601348252d17b66"
      X-Ratelimit-Limit:
      - '300'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '299'
    body:
      encoding: UTF-8
      string: '{"id":"113991610703461560","created_at":"2025-02-12T15:25:42.628Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://mastodon.social/users/alharrington/statuses/113991610703461560","url":"https://mastodon.social/@alharrington/113991610703461560","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"\u003cp\u003e\u0026quot;How
        hard could it possibly be to truncate a string while making sure it doesn\u0026#39;t
        cut off any URLs or hashtags?\u0026quot; he asked, ignorantly. gist.github.com/searls/9d8ee42929da99ae268477eb20818da6\u003c/p\u003e","filtered":[],"reblog":null,"application":{"name":"Syndication","website":null},"account":{"id":"113935391254431638","username":"alharrington","acct":"alharrington","display_name":"Al
        Harrington","locked":false,"bot":false,"discoverable":false,"indexable":false,"group":false,"created_at":"2025-02-02T00:00:00.000Z","note":"","url":"https://mastodon.social/@alharrington","uri":"https://mastodon.social/users/alharrington","avatar":"https://mastodon.social/avatars/original/missing.png","avatar_static":"https://mastodon.social/avatars/original/missing.png","header":"https://mastodon.social/headers/original/missing.png","header_static":"https://mastodon.social/headers/original/missing.png","followers_count":0,"following_count":0,"statuses_count":2,"last_status_at":"2025-02-12","hide_collections":null,"noindex":false,"emojis":[],"roles":[],"fields":[]},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: Wed, 12 Feb 2025 15:25:42 GMT
[...]
