---
http_interactions:
- request:
    method: post
    uri: https://mastodon.social/api/v1/statuses
    body:
      encoding: UTF-8
      string: '{"status":"Look, all I want from political news—literally the only
        thing I’m asking for, and it isn’t much—is to tell me the literal future exactly
        as it will unfold so that my brain can go back to focusing on anything else."}'
    headers:
      Authorization:
      - Bearer SOME_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"113935658428064993","created_at":"2025-12-28T05:28:16.780Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://mastodon.social/users/searls/statuses/113935658428064993","url":"https://mastodon.social/@searls/113935658428064993","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"<p>Look,
        all I want from political news—literally the only thing I’m asking for, and
        it isn’t much—is to tell me the literal future exactly as it will unfold so
        that my brain can go back to focusing on anything else.</p>","filtered":[],"reblog":null,"application":{"name":"feed2toot","website":null},"account":{"id":"31115","username":"searls","acct":"searls","display_name":"Justin
        Searls","locked":false,"bot":true},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: Sun, 28 Dec 2025 05:28:16 GMT
recorded_with: VCR 6.3.1
