---
http_interactions:
- request:
    method: post
    uri: https://mastodon.social/api/v1/statuses
    body:
      encoding: ASCII-8BIT
      string: status=Look%2C+all+I+want+from+political+news%E2%80%94literally+the+only+thing+I%E2%80%99m+asking+for%2C+and+it+isn%E2%80%99t+much%E2%80%94is+to+tell+me+the+literal+future+exactly+as+it+will+unfold+so+that+my+brain+can+go+back+to+focusing+on+anything+else.
    headers:
      Authorization:
      - Bearer SOME_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '298'
      Etag:
      - W/"c58580062a5109f0005828e4fbeddc21"
      X-Ratelimit-Limit:
      - '300'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '2025-02-02T21:00:00.740480Z'
    body:
      encoding: UTF-8
      string: "{\"id\":\"113935658428064993\",\"created_at\":\"2025-02-02T18:16:18.653Z\",\"in_reply_to_id\":null,\"in_reply_to_account_id\":null,\"sensitive\":false,\"spoiler_text\":\"\",\"visibility\":\"public\",\"language\":\"en\",\"uri\":\"https://mastodon.social/users/searls/statuses/113935658428064993\",\"url\":\"https://mastodon.social/@searls/113935658428064993\",\"replies_count\":0,\"reblogs_count\":0,\"favourites_count\":0,\"edited_at\":null,\"favourited\":false,\"reblogged\":false,\"muted\":false,\"bookmarked\":false,\"pinned\":false,\"content\":\"\\u003cp\\u003eLook,
        all I want from political news—literally the only thing I’m asking for, and
        it isn’t much—is to tell me the literal future exactly as it will unfold so
        that my brain can go back to focusing on anything else.\\u003c/p\\u003e\",\"filtered\":[],\"reblog\":null,\"application\":{\"name\":\"feed2toot\",\"website\":null},\"account\":{\"id\":\"31115\",\"username\":\"searls\",\"acct\":\"searls\",\"display_name\":\"Justin
        Searls\",\"locked\":false,\"bot\":true,\"discoverable\":true,\"indexable\":true,\"group\":false,\"created_at\":\"2017-04-02T00:00:00.000Z\",\"note\":\"\\u003cp\\u003eYou
        might remember me from such dumpster fires as Twitter dot com. Total \U0001F41E
        magnet. Co-founded \\u003cspan class=\\\"h-card\\\" translate=\\\"no\\\"\\u003e\\u003ca
        href=\\\"https://mastodon.social/@testdouble\\\" class=\\\"u-url mention\\\"\\u003e@\\u003cspan\\u003etestdouble\\u003c/span\\u003e\\u003c/a\\u003e\\u003c/span\\u003e.\\u003c/p\\u003e\\u003cp\\u003e⚠️
        This is an automated account that crossposts from \\u003ca href=\\\"https://justin.searls.co\\\"
        target=\\\"_blank\\\" rel=\\\"nofollow noopener\\\" translate=\\\"no\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003ejustin.searls.co\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e -- instead
        of replies and DMs, just email me: justin@searls.co\\u003c/p\\u003e\",\"url\":\"https://mastodon.social/@searls\",\"uri\":\"https://mastodon.social/users/searls\",\"avatar\":\"https://files.mastodon.social/accounts/avatars/000/031/115/original/4a780d80f6410e96.jpg\",\"avatar_static\":\"https://files.mastodon.social/accounts/avatars/000/031/115/original/4a780d80f6410e96.jpg\",\"header\":\"https://files.mastodon.social/accounts/headers/000/031/115/original/b12cdbbccbaca8ed.jpg\",\"header_static\":\"https://files.mastodon.social/accounts/headers/000/031/115/original/b12cdbbccbaca8ed.jpg\",\"followers_count\":3608,\"following_count\":385,\"statuses_count\":1807,\"last_status_at\":\"2025-02-02\",\"hide_collections\":false,\"noindex\":false,\"emojis\":[],\"roles\":[],\"fields\":[{\"name\":\"Location\",\"value\":\"Orlando,
        FL\",\"verified_at\":null},{\"name\":\"Life\",\"value\":\"\\u003ca href=\\\"https://justin.searls.co\\\"
        target=\\\"_blank\\\" rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan class=\\\"\\\"\\u003ejustin.searls.co\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2022-11-23T01:59:54.143+00:00\"},{\"name\":\"Work\",\"value\":\"\\u003ca
        href=\\\"https://blog.testdouble.com/authors/justin-searls/\\\" target=\\\"_blank\\\"
        rel=\\\"nofollow noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"ellipsis\\\"\\u003eblog.testdouble.com/authors/ju\\u003c/span\\u003e\\u003cspan
        class=\\\"invisible\\\"\\u003estin-searls/\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2022-11-23T01:59:53.846+00:00\"},{\"name\":\"Code\",\"value\":\"\\u003ca
        href=\\\"https://github.com/searls\\\" target=\\\"_blank\\\" rel=\\\"nofollow
        noopener me\\\" translate=\\\"no\\\"\\u003e\\u003cspan class=\\\"invisible\\\"\\u003ehttps://\\u003c/span\\u003e\\u003cspan
        class=\\\"\\\"\\u003egithub.com/searls\\u003c/span\\u003e\\u003cspan class=\\\"invisible\\\"\\u003e\\u003c/span\\u003e\\u003c/a\\u003e\",\"verified_at\":\"2023-02-01T17:14:33.511+00:00\"}]},\"media_attachments\":[],\"mentions\":[],\"tags\":[],\"emojis\":[],\"card\":null,\"poll\":null}"
  recorded_at: Sun, 02 Feb 2025 18:16:18 GMT
recorded_with: VCR 6.3.1
