---
http_interactions:
- request:
    method: post
    uri: https://mastodon.social/api/v1/statuses
    body:
      encoding: UTF-8
      string: '{"status":"\"How hard could it possibly be to truncate a string while
        making sure it doesn''t cut off any URLs or hashtags?\" he asked, ignorantly.
        https://gist.github.com/searls/9d8ee42929da99ae268477eb20818da6"}'
    headers:
      Authorization:
      - Bearer SOME_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"113991777044908687","created_at":"2025-02-12T16:08:00.830Z","in_reply_to_id":null,"in_reply_to_account_id":null,"sensitive":false,"spoiler_text":"","visibility":"public","language":"en","uri":"https://mastodon.social/users/alharrington/statuses/113991777044908687","url":"https://mastodon.social/@alharrington/113991777044908687","replies_count":0,"reblogs_count":0,"favourites_count":0,"edited_at":null,"favourited":false,"reblogged":false,"muted":false,"bookmarked":false,"pinned":false,"content":"<p>\"How
        hard could it possibly be to truncate a string while making sure it doesn''t
        cut off any URLs or hashtags?\" he asked, ignorantly. <a href=\"https://gist.github.com/searls/9d8ee42929da99ae268477eb20818da6\">gist.github.com</a></p>","filtered":[],"reblog":null,"application":{"name":"Syndication","website":null},"account":{"id":"113935391254431638","username":"alharrington","acct":"alharrington","display_name":"Al
        Harrington","locked":false,"bot":false},"media_attachments":[],"mentions":[],"tags":[],"emojis":[],"card":null,"poll":null}'
  recorded_at: Wed, 12 Feb 2025 16:08:01 GMT
recorded_with: VCR 6.3.1
