---
http_interactions:
- request:
    method: post
    uri: https://graph.threads.net/v1.0/me/threads?access_token=some_access_token&link_attachment=https://justin.searls.co/shots/2024-10-28-09h56m20s/&media_type=TEXT&text=Orlando,%20I%20love%20you%20%F0%9F%8E%B6
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"9584830098240907":[{"type":"threads","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Threads-Api-Version:
      - v1.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"18087522505579577"}'
  recorded_at: Thu, 06 Mar 2025 17:39:48 GMT
- request:
    method: post
    uri: https://graph.threads.net/v1.0/me/threads_publish?access_token=some_access_token&creation_id=18087522505579577
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"9584830098240907":[{"type":"threads","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Threads-Api-Version:
      - v1.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"17990266949795149"}'
  recorded_at: Thu, 06 Mar 2025 17:39:51 GMT
- request:
    method: get
    uri: https://graph.threads.net/v1.0/17990266949795149?access_token=some_access_token&fields=permalink
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f9064dc3963f16118a470c933018985c5245ac05"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"9584830098240907":[{"type":"threads","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Threads-Api-Version:
      - v1.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"permalink":"https:\/\/www.threads.net\/\u0040wackywavinginflatableflailing\/post\/DG3dlMLxZxS","id":"17990266949795149"}'
  recorded_at: Thu, 06 Mar 2025 17:39:51 GMT
recorded_with: VCR 6.3.1
