---
http_interactions:
- request:
    method: post
    uri: https://graph.threads.net/v1.0/me/threads?access_token=some_access_token&link_attachment=&media_type=TEXT&text=Look,%20all%20I%20want%20from%20political%20news%E2%80%94literally%20the%20only%20thing%20I%E2%80%99m%20asking%20for,%20and%20it%20isn%E2%80%99t%20much%E2%80%94is%20to%20tell%20me%20the%20literal%20future%20exactly%20as%20it%20will%20unfold%20so%20that%20my%20brain%20can%20go%20back%20to%20focusing%20on%20anything%20else.
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"9584830098240907":[{"type":"threads","call_count":2,"total_cputime":1,"total_time":5,"estimated_time_to_regain_access":0}]}'
      Threads-Api-Version:
      - v1.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"18059512493053254"}'
  recorded_at: Thu, 06 Mar 2025 13:20:16 GMT
- request:
    method: post
    uri: https://graph.threads.net/v1.0/me/threads_publish?access_token=some_access_token&creation_id=18059512493053254
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"9584830098240907":[{"type":"threads","call_count":2,"total_cputime":0,"total_time":5,"estimated_time_to_regain_access":0}]}'
      Threads-Api-Version:
      - v1.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"id":"18063682438777871"}'
  recorded_at: Thu, 06 Mar 2025 13:20:19 GMT
- request:
    method: get
    uri: https://graph.threads.net/v1.0/18063682438777871?access_token=some_access_token&fields=permalink
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2804d0f258a9b2f2d31d37a6277d0c16fb7e072a"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"9584830098240907":[{"type":"threads","call_count":0,"total_cputime":1,"total_time":5,"estimated_time_to_regain_access":0}]}'
      Threads-Api-Version:
      - v1.0
      X-Stack:
      - www
    body:
      encoding: UTF-8
      string: '{"permalink":"https:\/\/www.threads.net\/\u0040wackywavinginflatableflailing\/post\/DG2_4OAReuQ","id":"18063682438777871"}'
  recorded_at: Thu, 06 Mar 2025 13:20:19 GMT
recorded_with: VCR 6.3.1
